@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-background: #0b0f14; /* near-black, not pure black */
	--color-surface: #121826; /* cards, sections */
	--color-primary: #e5e7eb; /* main text */
	--color-secondary: #9ca3af; /* muted text */
	--color-border: #1f2937; /* subtle dividers */
	--color-accent: #4f46e5; /* deep indigo */
	--color-accent-soft: #6366f1; /* hover states */

	--font-sans: Manrope;
}

body {
	@apply bg-background font-sans text-primary;
}
a {
	@apply rounded-lg p-1 text-primary underline-offset-2 duration-200 hover:text-accent-soft hover:underline hover:transition-colors;
}
